<table style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #000000;color:#000000;width:100%" cellspacing="3" cellpadding="3" border="1">

<tr>
<td bgcolor="#D8D8D8" width="64"><b>#</b></td>
<td bgcolor="#D8D8D8" width="75"><b>タイプ</b></td>
<td bgcolor="#D8D8D8" width="160"><b>タイトル</b></td>
<td bgcolor="#D8D8D8" width="130"><b>頻度</b></td>
<td bgcolor="#D8D8D8" width="100"><b>影響</b></td>
<td bgcolor="#D8D8D8"><b>説明 ※</b></td>
</tr>

<tr>
<td>P1</td>
<td align=center>:woman_technologist:</td>
<td>Webアプリケーションの脆弱性</td>
<td bgcolor="orange">高い</td>
<td bgcolor="red">非常に高い</td>
<td>脆弱性は、機密性の高い個人データを保護または操作する上でシステムの重大な問題です。アプリケーションの適切な設計と実装、問題の検出、または修正（パッチ）の迅速な適用を怠ると、プライバシーが侵害される可能性があります。このリスクには、<a href="https://owasp.org/www-project-top-ten/" target="_blank" rel="noopener">Webアプリケーションの脆弱性のOWASPトップ10リスト</a>とそれらに起因するリスクも含まれます。</td>
</tr>

<tr>
<td>P2</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>オペレーター側のデータ漏えい</td>
<td bgcolor="orange">高い</td>
<td bgcolor="red">非常に高い</td>
<td>個人データを含むまたは個人データに関連する情報が許可されていない第三者に漏洩し、データの機密性が失われます。意図的な悪意のある違反または意図しないミスのいずれかが原因で引き起こされました。たとえば、不十分なアクセス管理制御、安全でないストレージ、データの重複、または認識の欠如が原因です。</td>
</tr>

<tr>
<td>P3</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>不十分なデータ侵害対応</td>
<td bgcolor="orange">高い</td>
<td bgcolor="red">非常に高い</td>
<td>意図的または意図的でないイベントのいずれかが原因で発生する侵害またはデータ漏洩について、影響を受ける人（データ主体）に通知しないこと。原因を修正することによって状況を改善することに失敗すること。漏洩を制限することを怠ることです。</td>
</tr>

<tr>
<td>P4</td>
<td align=center>:man_office_worker:</td>
<td>すべてに同意する</td>
<td bgcolor="red">非常に高い</td>
<td bgcolor="orange">高い</td>
<td>処理を正当化するための同意を集約する、または同意を不適切に使用することです。同意の対象は「すべて」であり、目的ごとに収集していません（たとえば、Webサイトの使用や広告のプロファイリング）。</td>
</tr>

<tr>
<td>P5</td>
<td align=center>:man_office_worker:</td>
<td>不透明なポリシー、利用規約</td>
<td bgcolor="red">非常に高い</td>
<td bgcolor="orange">高い</td>
<td>データの収集、保存、処理など、データの処理方法を説明するための十分な情報が提供されていません。例えば弁護士以外の人でも簡単に理解できるようにしなければなりません。</td>
</tr>

<tr>
<td>P6</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>個人データの削除が不十分</td>
<td bgcolor="orange">高い</td>
<td bgcolor="orange">高い</td>
<td>指定された目的の終了後または要求に応じて、個人データを効果的および/またはタイムリーに削除</td>
</tr>

<tr>
<td>P7</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>不十分なデータ品質</td>
<td bgcolor="yellow">中</td>
<td bgcolor="red">非常に高い</td>
<td>古い、正しくない、または偽の個人データを使用すること、または、データの更新または修正の誤りがあることです。</td>
</tr>

<tr>
<td>P8</td>
<td align=center>:woman_technologist:</td>
<td>セッションの有効期限がないか不十分</td>
<td bgcolor="yellow">中</td>
<td bgcolor="red">非常に高い</td>
<td>セッションの終了が確実ではないことによって、ユーザーの同意または認識なしに、追加の個人データが収集される可能性があります。</td>
</tr>

<tr>
<td>P9</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>ユーザーがデータにアクセスして変更できない</td>
<td bgcolor="orange">高い</td>
<td bgcolor="orange">高い</td>
<td>ユーザーが自分に関連するデータにアクセス、変更、または削除することができません。</td>
</tr>

<tr>
<td>P10</td>
<td align=center>:man_office_worker:</td>
<td>ユーザーの同意を得た目的と異なるデータの収集</td>
<td bgcolor="orange">高い</td>
<td bgcolor="orange">高い</td>
<td>システムの目的に関係のない、分析データ、統計データ、またはその他の個人の関連データの収集することや、ユーザーが同意しなかったデータを収集することです。</td>
</tr>
</table>
