<html>
<table style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #000000;color:#000000;width:100%" cellspacing="3" cellpadding="3" border="1">

<tr>
<td bgcolor="#D8D8D8" width="64"><b>#</b></td>
<td bgcolor="#D8D8D8" width="75"><b>Tipo</b></td>
<td bgcolor="#D8D8D8" width="160"><b>Título</b></td>
<td bgcolor="#D8D8D8" width="130"><b>Frequência</b></td>
<td bgcolor="#D8D8D8" width="100"><b>Impacto</b></td>
<td bgcolor="#D8D8D8"><b>Descrição</b></td>
</tr>

<tr>
<td>P1</td>
<td align=center>:woman_technologist:</td>
<td>Vulnerabilidades em aplicações web</td>
<td bgcolor="orange">Alto</td>
<td bgcolor="red">Muito Alto</td>
<td>A vulnerabilidade é um problema importante em qualquer sistema que protege ou opera com dados confidenciais do usuário. A falha em projetar e implementar adequadamente um aplicativo, detectar um problema ou aplicar imediatamente uma correção (patch) provavelmente resultará em uma violação de privacidade. Esse risco também abrange a lista do OWASP Top 10 e os seus riscos resultantes. </td>
</tr>

<tr>
<td>P2</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>Vazamento de dados pelo lado do operador</td>
<td bgcolor="orange">Alto</td>
<td bgcolor="red">Muito Alto</td>
<td>Falha em evitar o vazamento de qualquer informação que contenha ou esteja relacionada aos dados do usuário, ou os próprios dados, para qualquer parte não autorizada, resultando na perda da confidencialidade dos dados. Introduzido devido a violação maliciosa intencional ou erro não intencional, por exemplo causados por controles de gerenciamento de acesso insuficientes, armazenamento inseguro, duplicação de dados ou falta de conscientização.</td>
</tr>

<tr>
<td>P3</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>Resposta insuficiente devido ao vazamento de dados</td>
<td bgcolor="orange">Alto</td>
<td bgcolor="red">Muito Alto</td>
<td>Não informar as pessoas afetadas (titulares dos dados) sobre uma possível violação ou vazamento de dados, resultante de eventos intencionais ou não; falha em remediar a situação corrigindo a causa; não tentando limitar os vazamentos. </td>
</tr>

<tr>
<td>P4</td>
<td align=center>:man_office_worker:</td>
<td>Consentimento em tudo</td>
<td bgcolor="red">Muito Alto</td>
<td bgcolor="orange">Alto</td>
<td>Agregação ou uso impróprio de consentimento para processamento legítimo. O consentimento é "sobre tudo" e não é coletado separadamente para cada finalidade (por exemplo, uso do site e criação de perfil para publicidade). </td>
</tr>

<tr>
<td>P5</td>
<td align=center>:man_office_worker:</td>
<td>Políticas, termos e condições não transparentes</td>
<td bgcolor="red">Muito Alto</td>
<td bgcolor="orange">Alto</td>
<td>Não fornecendo informações suficientes para descrever como os dados são processados, como sua coleta, armazenamento e processamento. Falha em tornar essas informações facilmente acessíveis e compreensíveis para não advogados. </td>
</tr>

<tr>
<td>P6</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>Exclusão insuficiente de dados pessoais</td>
<td bgcolor="orange">Alto</td>
<td bgcolor="orange">Alto</td>
<td>Falha na exclusão efetiva e/ou oportuna de dados pessoais após o término da finalidade especificada ou mediante solicitação.</td>
</tr>

<tr>
<td>P7</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>Qualidade dos dados insuficiente</td>
<td bgcolor="yellow">Médio</td>
<td bgcolor="red">Muito Alto</td>
<td>O uso de dados do usuário desatualizados, incorretos ou falsos. Falha ao atualizar ou corrigir os dados. </td>
</tr>

<tr>
<td>P8</td>
<td align=center>:woman_technologist:</td>
<td>Expiração de sessão ausente ou insuficiente</td>
<td bgcolor="yellow">Médio</td>
<td bgcolor="red">Muito Alto</td>
<td>Falha em impor o encerramento da sessão de forma eficaz. Pode resultar na coleta de dados adicionais do usuário sem o consentimento ou conhecimento do usuário. </td>
</tr>

<tr>
<td>P9</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>Incapacidade dos usuários de acessar e modificar seus dados</td>
<td bgcolor="orange">Alto</td>
<td bgcolor="orange">Alto</td>
<td>Os usuários não têm a capacidade de acessar, alterar ou excluir dados relacionados a eles.</td>
</tr>

<tr>
<td>P10</td>
<td align=center>:man_office_worker:</td>
<td>A coleta de dados não requeridos para o propósito consentido pelo usuário</td>
<td bgcolor="orange">Alto</td>
<td bgcolor="orange">Alto</td>
<td>Coletar dados descritivos, demográficos ou quaisquer outros dados relacionados ao usuário que não sejam necessários para os propósitos do sistema. Aplica-se também a dados para os quais o usuário não deu consentimento.</td>
</tr>
</table>
</html>
