<table
	style="background-color: #FFFFFF; border-collapse: collapse; border: 1px solid #000000; color: #000000; width: 100%"
	cellspacing="3" cellpadding="3" border="1">

	<tr>
		<td bgcolor="#D8D8D8" width="64"><b>#</b></td>
		<td bgcolor="#D8D8D8" width="75"><b>类型</b></td>
		<td bgcolor="#D8D8D8" width="160"><b>标题</b></td>
		<td bgcolor="#D8D8D8" width="130"><b>发生频率</b></td>
		<td bgcolor="#D8D8D8" width="100"><b>影响</b></td>
		<td bgcolor="#D8D8D8"><b>描述</b></td>
	</tr>

	<tr>
		<td>P1</td>
		<td align=center>:woman_technologist:</td>
		<td>Web应用漏洞</td>
		<td bgcolor="orange">高</td>
		<td bgcolor="red">非常高</td>
		<td>在任何保护或运行着敏感用户数据的系统中，漏洞都是一个关键难题。未能恰当的设计和实现应用，未能检测到应用存在的问题或未能快速对检测到的问题进行修复（或打补丁）都可能导致隐私被泄露。该风险还包括OWASP Top 10列出的web应用漏洞及其他风险。</td>
	</tr>

	<tr>
		<td>P2</td>
		<td align=center>:man_office_worker::woman_technologist:</td>
		<td>运营方数据泄露</td>
		<td bgcolor="orange">高</td>
		<td bgcolor="red">非常高</td>
		<td>未能防止包含用户及相关信息的数据泄露给未经授权方，导致数据保密性的丧失。由于故意破坏或无意的错误（如不到位的访问管理控制，不安全的存储，不必要的数据复制或缺乏安全意识）而引入。</td>
	</tr>

	<tr>
		<td>P3</td>
		<td align=center>:man_office_worker::woman_technologist:</td>
		<td>数据泄漏响应不足</td>
		<td bgcolor="orange">高</td>
		<td bgcolor="red">非常高</td>
		<td>不向受影响人（数据主体）通知可能因有意或无意的安全事件产生的数据泄漏；失败的补救措施；没有试图限制泄漏。</td>
	</tr>

	<tr>
		<td>P4</td>
		<td align=center>:man_office_worker:</td>
		<td>全部同意</td>
		<td bgcolor="red">非常高</td>
		<td bgcolor="orange">高</td>
		<td>将条款混在一起或不恰当地让用户同意业务提供方后续的一切处理。同意应是“逐条”确认的，而不是汇在一起（如将使用网站和用于广告分析的条款混在一起）。</td>
	</tr>

	<tr>
		<td>P5</td>
		<td align=center>:man_office_worker:</td>
		<td>不透明的政策、条款和条件</td>
		<td bgcolor="red">非常高</td>
		<td bgcolor="orange">高</td>
		<td>没有提供足够的信息来描述数据是如何被处理的，例如数据的收集、储存、处理。而且非律师身份用户难以理解这些信息。</td>
	</tr>

	<tr>
		<td>P6</td>
		<td align=center>:man_office_worker::woman_technologist:</td>
		<td>个人数据删除不完整</td>
		<td bgcolor="orange">高</td>
		<td bgcolor="orange">高</td>
		<td>在特定目的或请求完成后，未能及时有效删除个人数据。</td>
	</tr>

	<tr>
		<td>P7</td>
		<td align=center>:man_office_worker::woman_technologist:</td>
		<td>数据质量不足</td>
		<td bgcolor="yellow">中</td>
		<td bgcolor="red">非常高</td>
		<td>使用过期、不正确或虚假的用户资料。未能更新或更正数据。</td>
	</tr>

	<tr>
		<td>P8</td>
		<td align=center>:woman_technologist:</td>
		<td>会话过期机制缺少或不足</td>
		<td bgcolor="yellow">中</td>
		<td bgcolor="red">非常高</td>
		<td>未能有效终止会话。可能会导致未经用户同意或在用户不知情的情况下收集额外的用户数据。</td>
	</tr>

	<tr>
		<td>P9</td>
		<td align=center>:man_office_worker::woman_technologist:</td>
		<td>用户无法访问和修改数据</td>
		<td bgcolor="orange">高</td>
		<td bgcolor="orange">高</td>
		<td>用户不能访问、更改或删除与自己相关的数据。</td>
	</tr>

	<tr>
		<td>P10</td>
		<td align=center>:man_office_worker:</td>
		<td>未经用户同意收集数据</td>
		<td bgcolor="orange">高</td>
		<td bgcolor="orange">高</td>
		<td>收集与系统无关的描述性、人口统计或任何其他用户数据。同样适用于未经用户同意的数据。</td>
	</tr>
</table>
