<table style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #000000;color:#000000;width:100%" cellspacing="3" cellpadding="3" border="1">

<tr>
<td bgcolor="#D8D8D8" width="64"><b>#</b></td>
<td bgcolor="#D8D8D8" width="75"><b>Tipo</b></td>
<td bgcolor="#D8D8D8" width="160"><b>Título</b></td>
<td bgcolor="#D8D8D8" width="130"><b>Frecuencia</b></td>
<td bgcolor="#D8D8D8" width="100"><b>Impacto</b></td>
<td bgcolor="#D8D8D8"><b>Descripción</b></td>
</tr>

<tr>
<td>P1</td>
<td align=center>:woman_technologist:</td>
<td>Vulnerabilidades en aplicaciones web</td>
<td bgcolor="orange">Alto</td>
<td bgcolor="red">Muy Alto</td>
<td>La vulnerabilidad es un problema clave en cualquier sistema que protege u opera con datos confidenciales del usuario. Si no se diseña e implementa adecuadamente una aplicación, se detecta un problema o se aplica rápidamente una solución (parche), es probable que se produzca una violación de la privacidad. Este riesgo también abarca la lista de las 10 principales vulnerabilidades de aplicaciones web de OWASP y los riesgos que se derivan de ellas. </td>
</tr>

<tr>
<td>P2</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>Fuga de datos del lado del operador</td>
<td bgcolor="orange">Alto</td>
<td bgcolor="red">Muy Alto</td>
<td>No impedir la filtración de cualquier información que contenga o esté relacionada con los datos del usuario, o los datos en sí, a ninguna parte no autorizada que resulte en la pérdida de confidencialidad de los datos. Introducido ya sea debido a una violación maliciosa intencional o error involuntario, por ejemplo, causado por controles de administración de acceso insuficientes, almacenamiento inseguro, duplicación de datos o falta de conciencia.</td>
</tr>

<tr>
<td>P3</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>Respuesta insuficiente por filtración de datos</td>
<td bgcolor="orange">Alto</td>
<td bgcolor="red">Muy Alto</td>
<td>No informar a las personas afectadas (interesados) sobre una posible violación o fuga de datos, como resultado de eventos intencionales o no intencionales; no remediar la situación arreglando la causa; sin intentar limitar las fugas. </td>
</tr>

<tr>
<td>P4</td>
<td align=center>:man_office_worker:</td>
<td>Consentimiento en todo</td>
<td bgcolor="red">Muy Alto</td>
<td bgcolor="orange">Alto</td>
<td>uso inapropiado del consentimiento para el procesamiento legítimo. El consentimiento está "en todo" y no se recopila por separado para cada propósito (por ejemplo, el uso del sitio web y la elaboración de perfiles para publicidad).</td>
</tr>

<tr>
<td>P5</td>
<td align=center>:man_office_worker:</td>
<td>Políticas, términos y condiciones opacas</td>
<td bgcolor="red">Muy Alto</td>
<td bgcolor="orange">Alto</td>
<td>No proporcionar suficiente información para describir cómo se procesan los datos, como su recopilación, almacenamiento y procesamiento. No hacer que esta información sea fácilmente accesible y comprensible para las personas que no son abogados. </td>
</tr>

<tr>
<td>P6</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>Eliminación insuficiente de datos personales</td>
<td bgcolor="orange">Alto</td>
<td bgcolor="orange">Alto</td>
<td>No eliminar datos personales de manera efectiva y/o oportuna tras la finalización del propósito especificado o previa solicitud.</td>
</tr>

<tr>
<td>P7</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>Calidad de datos insuficiente</td>
<td bgcolor="yellow">Medio</td>
<td bgcolor="red">Muy Alto</td>
<td>El uso de datos de usuario desactualizados, incorrectos o falsos. No actualizar o corregir los datos. </td>
</tr>

<tr>
<td>P8</td>
<td align=center>:woman_technologist:</td>
<td>Falta o insuficiente mecanismo de expiración de sesión</td>
<td bgcolor="yellow">Medio</td>
<td bgcolor="red">Muy Alto</td>
<td>No cerrar eficazmente la sesión. Puede dar lugar a la recopilación de datos de usuario adicionales sin el consentimiento o el conocimiento del usuario.</td>
</tr>

<tr>
<td>P9</td>
<td align=center>:man_office_worker::woman_technologist:</td>
<td>Imposibilidad de los usuarios para acceder y modificar datos</td>
<td bgcolor="orange">Alto</td>
<td bgcolor="orange">Alto</td>
<td>Los usuarios no tienen la capacidad de acceder, cambiar o eliminar datos relacionados con ellos.</td>
</tr>

<tr>
<td>P10</td>
<td align=center>:man_office_worker:</td>
<td>Recopilación de datos no requeridos para el propósito consentido por el usuario</td>
<td bgcolor="orange">Alto</td>
<td bgcolor="orange">Alto</td>
<td>Recopilación de datos descriptivos, demográficos o cualquier otro dato relacionado con el usuario que no sean necesarios para los fines de la operación. Se aplica también a los datos para los que el usuario no proporcionó su consentimiento.</td>
</tr>
</table>
